body {
  min-height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-family: sans-serif;
  background: linear-gradient(45deg, #100317, #2f0428);
}

ul {
  margin: 0rem auto;
  padding: 0;
  width: auto;
  list-style: none;
}

a {
  display: block;
  padding: 1.2rem 1.5rem 1.1rem;
  text-decoration: none;
  color: white;
}

h1 {
  margin: 0;
  padding: 1rem 0;
  color: #f042d3;
  font-size: 1.8rem;
}

.container {
  position: relative;
}

.notice {
  max-width: 600px;
  color: #2b0808;
  background: rgba(232, 125, 125, 0.8);
  padding: 1.5rem;
  margin: 1rem 0;
  border: 1px solid #ff6666;
  border-radius: 5px;
  line-height: 1.4;
}
.notice h2 {
  margin: 0;
  color: #610505;
}
.notice p {
  margin: 0;
}

@supports selector(:has(*)) {
  .notice {
    display: none;
  }
}
li {
  margin: 0.5rem 0;
  padding: 0;
  background: linear-gradient(45deg, #410a5c, #8e0b78);
  text-align: left;
  transition: all 0.2s ease-in-out;
  position: relative;
}

li a {
  border: 1px solid rgba(166, 13, 242, 0.5);
  border-radius: 5px;
}

li:hover {
  transform: scale(1.25);
  filter: brightness(145%);
  box-shadow: 0 0 15px rgba(54, 41, 61, 0.6);
  z-index: 5;
}

li:hover a {
  border-color: #630891;
}

li:hover + li {
  transform: scale(1.15);
  transition-delay: 0.1s;
}

li:has(+ li:hover) {
  transform: scale(1.11);
  transition-delay: 0.2s;
}