/* THE GRID STUFF */

.supporter-list {
	display: grid;
	gap: 4px;
	grid-auto-flow: row dense;
	grid-template-columns: repeat(auto-fill, 40px);

	a {
		&.gold {
			grid-column: span 2;
			grid-row: span 2;
		}

		img {
			display: block;
		}
	}
}

/* OTHER STYLE STUFF */

:root {
	--bg: #18151f;
	--text-muted: #79777e;
}

body {
	background: var(--bg);
	color: var(--text-muted);
	display: flex;
	flex-direction: column;
	font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	gap: 20px;
	min-block-size: 100dvb;
	place-content: center;
	place-items: center;
}

p {
	margin: 0;
}

a {
	color: inherit;
}

.supporter-list {
	inline-size: 100%;
	justify-content: start;
	max-inline-size: 480px;

	a {
		border-radius: 3px;
		opacity: 0.85;
		outline: 1px solid transparent;
		transition-duration: 150ms;
		transition-timing-function: linear;
		transition-property: outline-color, opacity;

		&:has(:hover, :active, :focus) {
			opacity: 1;
			outline: 1px solid var(--text-muted);
		}
	}

	img {
		border-radius: 3px;
	}
}