/* GRID */

.supporter-list {
	display: grid;
	gap: 4px;
	grid-auto-flow: row dense;
	grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
	inline-size: 100%;
	max-inline-size: 1200px;
	padding: 40px 40px;
}

/* GOLD BIG TILES */
.supporter-list a.gold {
	grid-column: span 2;
	grid-row: span 2;
}

/* BASE TILE */
.supporter-list a {
	position: relative;
	border-radius: 3px;
	opacity: 0.85;
	outline: 1px solid transparent;
	transition: outline-color 150ms linear, opacity 150ms linear;
	overflow: visible;
	aspect-ratio: 2 / 3;
}

/* IMAGE */
.supporter-list a img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	transition: transform 0.25s ease-in-out;
	position: relative;
	z-index: 2;
}

/* HOVER */
.supporter-list a:hover {
	opacity: 1;
	box-shadow: 0 0 0 1px #79777e;
	z-index: 3;
}

.supporter-list a.gold:hover img {
	transform: scale(2.2);
}

/* DARK OVERLAY */
.supporter-list a::after {
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
	border-radius: 3px;
	z-index: 1;
}

.supporter-list a:hover::after {
	opacity: 1;
}
